/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.training-container{
    padding: 50px;
    text-align: center;
}
@media (max-width: 599px){
    .training-container{
        padding: 50px 0;
    }
} 



mat-card{
    height: 300px;
    padding: 24px;
}
